<h1>Register page</h1>

<form action="/Home/Register" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">Register</button>
</form>